---
import AposArea from '@apostrophecms/apostrophe-astro/components/AposArea.astro';
import {
  getAttachmentUrl,
  getAttachmentSrcset,
  getFocalPoint,
  getWidth,
  getHeight
} from '../../lib/attachments.js';

import ArticlesFilter from '../../components/ArticlesFilter.astro';

const {
  pieces,
  gridColumns = 3,
  heroImageClass = 'is-3by2'
} = Astro.props;

const heroImage = pieces[0]?._heroImage[0];
const heroSrcset = heroImage ? getAttachmentSrcset(heroImage) : '';

// Get the current category from URL params
const currentCategory = Astro.url.searchParams.get('category') || '';
---
{pieces[0] && (
  <div class='columns is-vcentered mb-6'>
    <div class='column is-two-thirds'>
      <a href={pieces[0]._url} class='image hero-image'>
        {heroImage && (
          <figure class={`image ${heroImageClass}`}>
            <img
              src={getAttachmentUrl(heroImage, { size: 'full' })}
              srcset={heroSrcset}
              sizes="(min-width: 1200px) 2400px, (min-width: 800px) 1200px, 800px"
              alt={heroImage.alt || ''}
              class="has-ratio"
              style={`object-fit: cover; object-position: ${getFocalPoint(heroImage)};`}
              width={getWidth(heroImage)}
              height={getHeight(heroImage)}
            />
          </figure>
        )}
      </a>
    </div>
    <div class='column'>
      <a href={pieces[0]._url}>
        <h1 class='title is-2 mb-4'>{pieces[0].title}</h1>
      </a>
      <p class='subtitle is-5 mb-4'>{pieces[0].excerpt}</p>
      <div class='author-info mb-4'>
        <div class='media'>
          {pieces[0]._author[0]?.profileImage && (
            <div class='media-left'>
              <figure class='image is-48x48'>
                <AposArea
                  area={pieces[0]._author[0].profileImage}
                  imageOptions={{
                    additionalClasses: 'is-rounded object-fit-cover'
                  }}
                />
              </figure>
            </div>
          )}
          <div class='media-content'>
            <p>
              <strong>{pieces[0]._author[0].title}</strong>
              <br />
              {new Date(pieces[0].publishDate).toLocaleDateString()}
            </p>
          </div>
        </div>
      </div>
      <a href={pieces[0]._url} class='button is-link is-medium'>
        Read More
      </a>
    </div>
  </div>
  <div class="container">
    <ArticlesFilter
      currentUrl={Astro.url}
      currentCategory={currentCategory}
      articles={pieces}
    />
  </div>
  <div class='columns is-multiline'>
    {pieces.slice(1).map((article) => {
      const cardImage = article?._heroImage[0];
      return (
      <div class={`column is-${12/gridColumns}`}>
        <div class='card h-100'>
          <a href={article._url}>
            {cardImage && (
              <div class='card-image'>
                <figure class='image is-3by2'>
                  <img
                    src={getAttachmentUrl(cardImage, { size: 'full' })}
                    alt={article.title}
                    class='has-ratio'
                    style={`object-fit: cover; object-position: ${getFocalPoint(cardImage)};`}
                    width={getWidth(cardImage)}
                    height={getHeight(cardImage)}
                    loading="lazy"
                  />
                </figure>
              </div>
            )}
          </a>
          <div class='card-content'>
            <a href={article._url} class='has-text-dark card-title'>
              <h3 class='title is-4'>{article.title}</h3>
            </a>
            <p class='subtitle is-6'>
              By {article._author[0].title} |
              {new Date(article.publishDate).toLocaleDateString()}
            </p>
            <p class='content'>{article.excerpt}</p>
          </div>
          <footer class='card-footer mt-auto'>
            <a href={article._url} class='button is-link'>
              Read More
            </a>
          </footer>
        </div>
      </div>
    )}
  )}
  </div>
)}

<style>

.card {
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: unset;
}

.card-footer {
  border: none;
  padding: 0 1em 1em;
}

.card-image:last-child img {
  border-radius: unset;
}

.card-title {
  display: inline-block;
  margin-bottom: 0.75em;
}

</style>