---
const { image, link } = Astro.props;

export interface Props {
  image: {
    src: string;
    alt?: string;
    style?: string;
    srcset?: string;
    objectPosition: string;
    width?: number | string;
    height?: number | string;
    aspectRatio?: string;
  };
  link?: {
    url: string;
    title?: string;
    target?: string;
    rel?: string;
  };
}

const style =
  `object-position: ${image.objectPosition};${image.aspectRatio ? `--aspect-ratio: ${image.aspectRatio};` : ""}
  `.trim();
---

<Fragment>
  {
    !link && (
      <img
        class={image.style}
        src={image.src}
        alt={image.alt}
        loading="lazy"
        decoding="async"
        srcset={image.srcset}
        {style}
        width={image.width}
        height={image.height}
      />
    )
  }
  {
    link && (
      <a href={link.url} title={link.title} target={link.target} rel={link.rel}>
        <img
          class={image.style}
          src={image.src}
          alt={image.alt}
          loading="lazy"
          decoding="async"
          srcset={image.srcset}
          {style}
          width={image.width}
          height={image.height}
        />
      </a>
    )
  }
</Fragment>
